<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="d-flex align-items-center justify-content-center vh-100" style="background-color: #1e1d1e;">
    <div class="p-4 my-3 rounded shadow" style="background-color: #403e40; width:45rem;">
    <h1 class="my-4" style="color: rgb(0, 116, 58);" >Registro</h1>
    <form action="/api/sessions/register" class=" d-flex flex-column" method="POST" id="register-form">
    <label for="email" style="color: rgb(0, 116, 58);">Name:</label>
    <input type="text" id="name" name="name" class="form-control py-3 my-2 shadow input-custom" placeholder="Enter your name" required>

    <label for="email" style="color: rgb(0, 116, 58);">Email:</label>
    <input type="email" id="email" name="email" class="form-control py-3 my-2 shadow input-custom" placeholder="Enter your email" required>

    <label for="password" style="color: rgb(0, 116, 58);">Password:</label>
    <input type="password" id="password" name="password" class="form-control py-3 my-2 shadow input-custom" placeholder="Enter your password" required>

    <label for="password" style="color: rgb(0, 116, 58);">Password:</label>
    <input type="password" id="confirm-password" name="confirm-password" class="form-control py-3 my-2 shadow input-custom" placeholder="Confirm Password" required>

    <button class="mt-3 py-3 btn btn-success w-100" id="register">Registrarse</button>
    <p class="text-center mt-3">register by <a href="/api/sessions/google" style="color: rgb(0, 116, 58);">google</a></p>
    <p class="text-center mt-3">Already have an account? <a href="./login" style="color: rgb(0, 116, 58);">Login</a></p>
    </form>
    </div>
    <style>
        .input-custom {
        background-color: #252225 !important;
        border-color: #252225 !important;
        color: white !important;
    }

    .input-custom::placeholder {
        color: white; 
    }

    </style>
    {{!-- <script src="../scripts/register.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
  const form = document.getElementById("register-form");
  const passwordInput = document.getElementById("password");
  const confirmPasswordInput = document.getElementById("confirm-password");

  form.addEventListener("submit", async (event) => {
    try {
      event.preventDefault();

      const password = passwordInput.value;
      const confirmPassword = confirmPasswordInput.value;

      if (password !== confirmPassword) {
        alert("Passwords do not match");
        return;
      }

      const data = {
        name: document.querySelector("#name").value,
        email: document.querySelector("#email").value,
        password: password,
      };

      const options = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      };

      let response = await fetch("/api/sessions/register", options);
      const result = await response.json();
      if (result.message === "USER REGISTERED") {
        location.replace("/api/sessions/login")
      } else {
        alert("INVALID CREDENTIALS")
      }
    } catch (error) {
      alert(`Error: ${error.message}`);
    }
  });
</script>

</body>
</html>