<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Tienda</title>
</head>
<body>
    {{{body}}} <!-- Aquí se renderizará el contenido de las vistas -->
</body>
</html>
